## Question 1: List and its default functions.

In [8]:
lst = ['Volkswagen','Audi','Polo']

In [9]:
lst.append('Skoda')

In [10]:
print(lst)

['Volkswagen', 'Audi', 'Polo', 'Skoda']

In [29]:
lst = ['Volkswagen','Audi','Polo']
lst.copy()
print(lst)

['Volkswagen', 'Audi', 'Polo']

In [27]:
lst = ['Volkswagen','Audi','Polo']
x = lst.count('Audi')
print(x)

1

In [28]:
lst = ['Volkswagen','Audi','Polo']
lst.clear()
print(lst)

[]

In [26]:
lst = ['Volkswagen','Audi','Polo']
cars = ['Ford','Bmw','Mercereded Benz']

lst.extend(cars)
print(lst)

['Volkswagen', 'Audi', 'Polo', 'Ford', 'Bmw', 'Mercereded Benz']

In [30]:
lst = ['Volkswagen','Audi','Polo']
lst.index('Audi')

1

In [32]:
lst = ['Volkswagen','Audi','Polo']
lst.insert(2, 'Figo')
print(lst)

['Volkswagen', 'Audi', 'Figo', 'Polo']

In [33]:
lst = ['Volkswagen','Audi','Polo']
lst.pop()
print(lst)

['Volkswagen', 'Audi']

In [34]:
lst = ['Volkswagen','Audi','Polo']
lst.remove('Audi')
print(lst)

['Volkswagen', 'Polo']

In [35]:
lst = ['Volkswagen','Audi','Polo']
lst.reverse()
print(lst)

['Polo', 'Audi', 'Volkswagen']

## Question 2: Dictionary and its default functions

In [37]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}

In [38]:
dct.copy()
print(dct)

{'1': 'Volkswagen', '2': 'Audi', '3': 'Skoda', '4': 'Ford'}

In [49]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
x  = dct.fromkeys('1')
print(x)

{'1': None}

In [51]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
x = dct.get('2')
print(x)

Audi

In [62]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
x = dct.items()
print(x)

dict_items([('1', 'Volkswagen'), ('2', 'Audi'), ('3', 'Skoda'), ('4', 'Ford')])

In [60]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
x = dct.keys()
print(x)

dict_keys(['1', '2', '3', '4'])

In [57]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
dct.pop('2')
print(dct)

{'1': 'Volkswagen', '3': 'Skoda', '4': 'Ford'}

In [65]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
dct.popitem()
print(dct)

{'1': 'Volkswagen', '2': 'Audi', '3': 'Skoda'}

In [76]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
x = dct.setdefault('2','Polo')
print(x)

Audi

In [75]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
dct.update({'5':'Figo'})
print(dct)

{'1': 'Volkswagen', '2': 'Audi', '3': 'Skoda', '4': 'Ford', '5': 'Figo'}

In [78]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
x  = dct.values()
print(x)

dict_values(['Volkswagen', 'Audi', 'Skoda', 'Ford'])

In [79]:
dct = {'1' : 'Volkswagen','2' : 'Audi','3' : 'Skoda','4' : 'Ford'}
dct.clear()
print(dct)

{}

## Question 3 : Sets and its default functions

In [80]:
sets = {'Volkswagen','Skoda','Audi'}
sets.add('Ford')
print(sets)

{'Ford', 'Audi', 'Skoda', 'Volkswagen'}

In [81]:
sets = {'Volkswagen','Skoda','Audi'}
sets.copy()
print(sets)

{'Audi', 'Skoda', 'Volkswagen'}

In [93]:
sets = {'Volkswagen','Skoda','Audi','ford'}
sets1 = {'Skoda','Volkswagen','Bmw','Benz'}
x = sets.difference(sets1)
print(x) ## Return a set that contains the items that only exist in sets , and not in sets1

{'Audi', 'ford'}

In [88]:
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets.difference_update(sets1)
print(sets)

{'Audi'}

In [94]:
sets = {'Volkswagen','Skoda','Audi'}
sets.discard('Audi')
print(sets)

{'Skoda', 'Volkswagen'}

In [96]:
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
x = sets.intersection(sets1)
print(x)

{'Skoda', 'Volkswagen'}

In [99]:
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets2 = {'Polo','Figo','Volkswagen'}
sets.intersection_update(sets1,sets2)
print(sets)

{'Volkswagen'}

In [101]:
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
x = sets.isdisjoint(sets1)
print(x)  ## Returns True if no items in sets is present in sets.

False

In [103]:
sets1 = {'Volkswagen','Skoda','Audi'}
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
x = sets.issubset(sets1)
print(x) ## Return True only if all items sets  are present in sets1

True

In [104]:
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
x = sets.issuperset(sets1)
print(x) ## Return True onlt if all items sets1 are present in sets

True

In [109]:
sets = {'1','2','3'}
sets.pop()
print(sets)

{'3', '2'}

In [110]:
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets.remove('Audi')
print(sets)

{'Bmw', 'Benz', 'Volkswagen', 'Skoda'}

In [111]:
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
x  = sets.symmetric_difference(sets1)
print(x) ## Return a set that contains all items from both sets, except items that are present in both sets

{'Bmw', 'Benz'}

In [113]:
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
sets.symmetric_difference_update(sets1)
print(sets) ## Removes items contains in both the sets and returns the remaining items from both the sets.

{'Bmw', 'Benz'}

In [115]:
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi','Ford'}
x = sets.union(sets1)
print(x)

{'Bmw', 'Benz', 'Ford', 'Audi', 'Volkswagen', 'Skoda'}

In [116]:
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets.update(sets1)
print(sets)

{'Bmw', 'Audi', 'Benz', 'Volkswagen', 'Skoda'}

In [117]:
sets = {'Volkswagen','Skoda','Audi'}
sets.clear()
print(sets)

set()

## Queston 4: Tuple and explore default methods

In [123]:
tup = ('Volkswagen','Audi','Skoda','Volkswagen','Audi','Skoda')
x = tup.count('Audi')
print(x)

2

In [128]:
tup = ('Polo','Figo','I20')
x = tup.index('Figo')
print(x)

1

## Question 5: Strings and explore default methods

In [130]:
string = "i Have Joined Python Course With LetsUprade Team"
x = string.capitalize();
print(x) ## It capitailizes the 1st character of the string.

I have joined python course with letsuprade team

In [131]:
string = "i Have Joined Python Course With LetsUprade Team"
x = string.casefold()
print(x) ## It converts string into lowercase

i have joined python course with letsuprade team

In [138]:
string = "LetsUprade"
x = string.center(20)
print(x) ## Printing the word "LetsUpgrade" in the center after 20 spaces

     LetsUprade

In [141]:
string = "I love cars, polo is one of my favourite cars"
x = string.count('cars')
print(x)

2

In [147]:
string = "I want to become a Data Scientist"
x = string.encode()
print(x)

b'I want to become a Data Scientist'

In [148]:
string = "I want to become a Data Scientist"
x = string.endswith('t')
print(x)

True

In [152]:
string = 's\ta\tndeep'
x = string.expandtabs()
print(x)

s       a       ndeep

In [153]:
string = "I want to become a Data Scientist"
x = string.find('Data')
print(x)

19

In [156]:
string = 'Iphone 11 Costs {cost: .2f} rupees'
print(string.format(cost = 1000000))

Iphone 11 Costs  1000000.00 rupees

In [163]:
string = "I want to become a Data Scientist"
x = string.index('I')
print(x)

0

In [164]:
string = 'Sandeep2119'
x = string.isalnum()
print(x) ## If the string contains both alphabets and numbers it returns true.

True

In [167]:
string = 'SanDy'
x =string.isalpha()
print(x) ## Retunrs True if the String contains only alphabets.

True

In [168]:
string = '2119'
x = string.isdecimal()
print(x)  ## Retunrs True if the String contains only Numbers.

True

In [169]:
string = "I want to become a Data Scientist"
x = string.lower()
print(x) ## returns the string in lower case.

i want to become a data scientist

In [170]:
string = "I want to become a Data Scientist"
x = string.islower()
print(x) ## returns true if all the characters in the string are in lowercase.

False

In [171]:
string = "I want to become a Data Scientist"
x = string.isupper()
print(x) ## returns true if all the characters in the string are in Uppercase.

False

In [172]:
string = "I want to become a Data Scientist"
x = string.upper()
print(x) ## returns the string in Upper case.

I WANT TO BECOME A DATA SCIENTIST

In [173]:
string = "I want to become a Data Scientist"
x = string.split()
print(x) ## Splits the entire string.

['I', 'want', 'to', 'become', 'a', 'Data', 'Scientist']

In [174]:
string = 'i am sandeep and i want to become a data scientist'
x = string.title()
print(x) ## Converts the 1st alphabet of each word to upper case.

I Am Sandeep And I Want To Become A Data Scientist

In [175]:
string = '2119'
x = string.zfill(21)
print(x) ## prints 2 whitespaces and then prints the given string.

000000000000000002119